@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Oswald:400,300,700|Quattrocento:400,700);

/*GLOBAL THEMES*/

.bb-saas-banner {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.2s ease-in-out;
}
.bb-saas-banner:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*END GLOBAL THEMES*/

.bb-saas-banner, .bb-saas-modal-content {
	background-color: #f8f9fa;
	color: #333;
}
.bb-saas-modal-form-line-1, .bb-saas-banner-txt-1, .bb-saas-modal-form-line-2, .bb-saas-banner-txt-2, .bb-saas-modal-form-line-3, .bb-saas-banner-txt-3, .bb-saas-modal-form-line-4, .bb-saas-banner-txt-4, .bb-saas-btn {
	color: #333;
}
.bb-saas-modal-form-line-1, .bb-saas-banner-txt-1, .bb-saas-modal-form-line-3, .bb-saas-banner-txt-3, .bb-saas-modal-form-line-4, .bb-saas-banner-txt-4, .bb-saas-form-control  {
	font-family: 'Quattrocento', serif;
}
.bb-saas-modal-form-line-2, .bb-saas-banner-txt-2, #bb-saas-full-modal-form-btn-1, .bb-saas-banner-btn, .bb-saas-modal-btn-submit {
	font-family: 'Oswald', sans-serif;
}
.bb-saas-form-control {
	font-family: 'Quattrocento', serif;
}
.bb-saas-form-control:focus {
	border-color:transparent;
}
#bb-saas-full-modal-form-btn-1, .bb-saas-banner-btn, .bb-saas-modal-btn-submit {
	background-color: #0c8599;
	color:#ffffff;
	font-size:30px;
	border-radius:2px;
	font-family: 'Oswald', sans-serif;
}
#bb-saas-full-modal-form-btn-1:hover, .bb-saas-banner-btn:hover, .bb-saas-modal-btn-submit:hover {
	background-color: #15aabf;
	color:#ffffff;
}
#bb-saas-full-modal-form-btn-1:active, .bb-saas-banner-btn:active, .bb-saas-modal-btn-submit:active {
	background-color: #15aabf;
	color:#ffffff;
}
#bb-saas-full-modal-form-btn-1:focus, .bb-saas-banner-btn:focus, .bb-saas-modal-btn-submit:focus {
	background-color: #15aabf;
	color:#ffffff;
}
#bb-saas-full-modal-form-btn-2 {
}

/*EFFECTS*/

.effect7
{
    position:relative;
    -webkit-box-shadow:0 15px 24px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 15px 24px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 15px 24px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
