@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Oswald:400,300,700|Open+Sans:400,300,600,700,800");

/*GLOBAL THEMES*/

.bb-saas-banner, .aiq-footbar {
	box-shadow: 0 0px 0px rgba(0,0,0,0.1), 0 1px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.10), 0 1px 0px rgba(0,0,0,0.1);
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.bb-saas-banner:hover, .aiq-footbar:hover {
	box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.20);
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.20);
}

/*END GLOBAL THEMES*/

.bb-saas-banner, .bb-saas-modal-content,.aiq-footbar {
	background-color: #fdfdfd;
	color: #333;
}
.bb-saas-modal-form-line-1, .bb-saas-banner-txt-1, .bb-saas-modal-form-line-2, .bb-saas-banner-txt-2, .bb-saas-modal-form-line-3, .bb-saas-banner-txt-3, .bb-saas-modal-form-line-4, .bb-saas-banner-txt-4, .bb-saas-btn {
	color: #333;
}
.bb-saas-modal-form-line-1, .bb-saas-banner-txt-1, .bb-saas-modal-form-line-3, .bb-saas-banner-txt-3, .bb-saas-modal-form-line-4, .bb-saas-banner-txt-4, .bb-saas-form-control  {
	font-family: 'Open Sans', sans-serif;
}
.bb-saas-modal-form-line-2, .bb-saas-banner-txt-2, #bb-saas-full-modal-form-btn-1, .bb-saas-banner-btn, .bb-saas-modal-btn-submit, .aiq-footbar-txt-2 {
	font-family: 'Oswald', sans-serif;
}
.bb-saas-form-control {
	font-family: 'Open Sans', sans-serif;
}
.bb-saas-form-control:focus {
	border-color:transparent;
}
#bb-saas-full-modal-form-btn-1, .bb-saas-banner-btn, .bb-saas-modal-btn-submit, .aiq-footbar-btn {
	background-color: #0c8599;
	color:#ffffff;
	border-radius:2px;
	font-family: 'Oswald', sans-serif;
}
#bb-saas-full-modal-form-btn-1:hover, .bb-saas-banner-btn:hover, .bb-saas-modal-btn-submit:hover, .aiq-footbar-btn:hover {
	background-color: #15aabf;
	color:#ffffff;
}
#bb-saas-full-modal-form-btn-1:active, .bb-saas-banner-btn:active, .bb-saas-modal-btn-submit:active, .aiq-footbar-btn:active {
	background-color: #15aabf;
	color:#ffffff;
}
#bb-saas-full-modal-form-btn-1:focus, .bb-saas-banner-btn:focus, .bb-saas-modal-btn-submit:focus, .aiq-footbar-btn:focus {
	background-color: #15aabf;
	color:#ffffff;
}
#bb-saas-full-modal-form-btn-2 {
}
